<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>utf-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	<filter>
		<filter-name>Filter_Encoding</filter-name>
		<filter-class>com.farm.wda.web.servlet.FilterEncoding</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter_Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>SysInit</servlet-name>
		<servlet-class>com.farm.wda.web.servlet.SysInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>